html {
    font-family: 'Ubuntu', sans-serif;
  }
  
  /*header nav*/
  nav {
      background-color: black;
      color:white;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  nav li {
      margin: 0;
      padding: 0 10px;
      display:inline;
      color:white;
  }
  
  nav ul {
      display: inline;
  }
  
  nav a {
      height: 60px;
      line-height: 60px;
      color:white;
      text-decoration: none;
      position:relative;
      z-index: 1;
      padding: 20px;
  }
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  
  nav ul a:hover {
    color: black;
  }
  
  nav ul a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: white;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  
  nav ul a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  
  @media (max-width:800px) {
    nav {
      flex-direction: column;
    }
  }
  
  nav a:hover {
    color: #aaa;
  }
  
  body {
      color:white;
      background-color:black;
  }
  
  nav button {
      margin-right: 30px;
      padding: 8px 18px;
      border: 1px solid white;
      height: 50px;
      max-width: 100px;
      background-color: black;
      color: white;
      position: relative;
  }
  
  nav button:hover {
    float: right;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #aaa;
    background-color: black;
    color: #aaa;
    position: relative;
  }
  
  nav button:active {
      position: relative;
      top: 2px;
  }
  
  .modal-content {
      font-size: 28px;
      background-color: rgba(0,0,0,0.8);
      padding: 16px;
      border: 1px solid #fff;
      width: 30%;
      height: 60%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      display: none;
  }
  
  .close {
      color: #fff;
      height: 10px;
      float: right;
      vertical-align: top;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: #aaa;
      text-decoration: none;
      cursor: pointer;
  }
  
  .contactHead {
      text-align: center;
      height: 10px;
      font-size: 2vw;
      padding: 16px;
  }
  
  .table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }
  
  .contactImgLink {
    height: 0;
    padding-top: 100%;
    display: block;
    position: relative;
  }
  
  .contactImgCell {
    max-width: 128px;
    min-width: 32px;
  }
  
  .contactImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .contactTxt {
    font-size: 1.5vw;
  }
  
  /*About Me Styling*/
  .imgMe {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    
    .imgMeResponsive {
      display: block;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
    }
    
    .imgMe:hover .overlay {
      opacity: 1;
    }
    
    .imgMeOver {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;
      right: 0;
    }
  
  .about {
      text-align: center;
      padding: 16px;
  }
  
  .aboutTxt {
      margin-left:25%;
      margin-right: 25%;
  }
  
  .os-btn {
      position: relative;
  }
  
  .os-btn:active {
      top: 2px;
  }
  
  /*cat slideshow*/
  * {
    box-sizing:border-box
  }
  
  .cats-container {
    display: flex;
    width: 60%;
    background-image: linear-gradient(rgb(70, 70, 70), rgb(0, 0, 0));
    justify-content: center;
    margin: auto;
  }
  
  .slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    overflow: hidden;
  }

  .slides {
    width: 100%;
    padding-top: 66%;
  }

  .catSlide {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
  }

  .catSlide img {
    max-height: 100%;
    margin: auto;
  }

  .catSlide.active {
    opacity: 1;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(43, 43, 43, 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.8);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .slideNav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #aaa;
    border: 1px #7b7b7b solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot.active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*Resume Styling*/
  .resume-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
  }
  
  @media (max-width:800px) {
    .resume-container {
      flex-direction: column;
    }
  }
  
  .experience {
    flex: 1;
    padding: 1rem;
  }
  
  .experience h1 {
    text-align: center;
    padding: 24px;
    font-size: 2.5rem;
  }
  
  .experience h2 {
    text-align: center;
    font-size: 2rem;
  }
  
  .experience h3 {
    text-align: center;
    font-style: italic;
    padding-left: 120px;
  }
  
  .experience h4 {
    text-align: right;
    font-size: 1rem;
  }
  
  .expCollapse {
    cursor: pointer;
  }
  
  .expCollapse:after {
    content: '\25BD';
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .expCollapseActive:after {
    content: '\25B3';
  }
  
  .experience button {
    border: none;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
  }
  
  .experience p {
    text-align: center;
  }
  
  .description {
    padding: 18px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 75px;
    position: relative;
  }
  
  .description.expanded {
    overflow: visible;
    height: fit-content;
  }
  
  .descGradient {
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s;
  }
  
  .skills {
    flex: 1;
    padding: 1rem;
  }
  
  .skillsH1 {
    height: 100px;
  }
  
  .skills h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  
  .eth {
    height: 3.5rem;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  
  .eth1 {
    height: 3.5rem;
    animation-duration: 5s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  
  .eth2 {
    height: 3.5rem;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  
  .eth3 {
    height: 3.5rem;
    animation-duration: 5s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  
  .eth4 {
    height: 3.5rem;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  
  .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
    }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .skillRow {
    height: 80px;
    text-indent: 18px;
    padding-right: 25px;
    padding-top: 25px;
    font-size: 1.5rem;
  }
  
  .skillRow:hover {
    background-color: #111111;
    animation-name: bounce;
    animation-timing-function: ease;
  }
  
  .ethr0 {
    height: 2.5rem;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    float: right;
  }
  
  .ethr1 {
    height: 2.5rem;
    animation-duration: 5s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    float: right;
  }
  
  .ethr2 {
    height: 2.5rem;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    float: right;
  }
  
  .ethr3 {
    height: 2.5rem;
    animation-duration: 5s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    float: right;
  }
  
  .ethr4 {
    height: 2.5rem;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    float: right;
  }
  
  /*Hire*/
  .hire {
    text-align: center;
    padding: 16px;
}

.hireBody {
  margin-left:25%;
  margin-right: 25%;
}

.services {
  margin-left:30%;
  margin-right: 30%;
}

.services ul {
  list-style-type: none;
}

/*projects*/
.projects {
  margin-left: 10%;
  margin-right: 10%;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
}

@media (max-width:800px) {
  .projectContainer {
    flex-direction: column;
  }
}

.gitCard {
  text-decoration: none;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.cardFlex {
  flex: 1;
  padding: 1rem;
}

.cardFlex2 {
  flex: 1;
  padding: 1rem;
}

/*
.card {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
*/

.mainCard {
  display: flex;
  width: 100%;
  justify-content: center;
}

.gitCard img {
  border-radius: 1.6rem;
  max-width: 100%;
}

.projectContainer img {
  border-radius: 1.6rem;
  max-width: 90%;  
  justify-content: center;
}

.projectTitle {
  position: absolute;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:rgb(255, 255, 255);
  place-content: center;
  font-size: 2.5rem;
  text-align: center;
}

@keyframes cardEffect {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.card {
  /* Customizable */
  --card-color-bg: rgb(24 24 27);
  --card-color-border: rgb(63 63 70);
  --card-color-cardEffect: rgb(198, 198, 198);
  --card-color-text: rgb(161 161 170);
  --card-color-text-busy: rgb(113 113 122);
  --card-border-width: 1px;
  --card-bg-gradient-start: rgb(24 24 27);
  --card-bg-gradient-end: rgb(39 39 42);
  --card-cardEffect-animation: cardEffect 1.5s linear infinite;
  --card-cardEffect-gradient-stops: transparent 135deg,
    var(--card-color-cardEffect) 180deg, transparent 225deg;
  --card-cardEffect-opacity: 1;
  --card-radius: 1.6rem;
  --card-transition-duration: 200ms;
  --card-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --card-transition: var(--card-transition-duration)
    var(--card-transition-easing);
  --card-aspect-ratio-multiplier: 0.65;
  /* Styles */
  appearance: none;
  position: relative;
  border: 0;
  font: inherit;
  overflow: hidden;
  margin: calc(var(--card-border-width) * -1);
  /*padding: var(--card-border-width);*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10%;
  color: var(--card-color-text);
  border-radius: var(--card-radius);
  transform: none;
  user-select: none;
  will-change: transform;
  background-color: var(--card-color-border);
  /**
   * This one's optional, it just stops the card from jumping around when the
   * content width changes
   */
  min-width: 8rem;
}

.card:hover {
  filter: brightness(0.95);
}
.card:active {
  transform: scale(0.95);
}

@media (prefers-reduced-motion: no-preference) {
  .card {
    transition: var(--card-transition);
    transition-property: color, filter, transform;
  }
}

.card__content {
  display: inline-flex;
  position: relative;
  border-radius: calc(var(--card-radius) - var(--card-border-width));
  background-image: linear-gradient(
    to top right,
    var(--card-bg-gradient-start),
    var(--card-bg-gradient-end)
  );
  background-color: var(--card-bg-gradient-end);
  width: 100%;
  justify-content: center;
  padding: 0.625rem 1rem;
  text-align: center;
  z-index: 10;
}

.card__cardEffect,
.card__cardEffect::before {
  position: absolute;
  width: 100%;
}

.card__cardEffect {
  inset: 0;
  height: 100%;
  top: 50%;
  transform: translateY(-50%)
    scaleX(
      calc(var(--card-aspect-ratio) * var(--card-aspect-ratio-multiplier))
    );
  will-change: transform;
}

.card__cardEffect::before {
  content: "";
  position: absolute;
  left: 0;
  min-height: 100%;
  top: 50%;
  aspect-ratio: 1/1;
  transform-origin: center;
  background-image: conic-gradient(var(--card-cardEffect-gradient-stops));
  opacity: var(--card-cardEffect-opacity-enabled, 0);
  /**
   * This one's not strictly necessary, but I think it helps soften the gradient
   * and reduces animation "easing".
   */
  filter: blur(8px);
}

@media (prefers-reduced-motion: reduce) {
  .card__cardEffect::before {
    transform: translateY(-50%) rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .card__cardEffect::before {
    animation: var(--card-cardEffect-animation);
    animation-play-state: var(--card-cardEffect-animation-state, paused);
    transition: var(--card-transition);
    transition-property: opacity;
  }
}

.card.is-busy {
  --card-color-text: var(--card-color-text-busy);
  --card-cardEffect-animation-state: running;
  --card-cardEffect-opacity-enabled: var(--card-cardEffect-opacity);
  cursor: progress;
}